Repository he0119/smart-home-flutter, changes with the labels that .github/labeler.yml gives for each.
All labels: board, iot, storage, blog, ci

.github/labeler.yml:

# https://github.com/actions/labeler
board:
  - lib/board/**/*
iot:
  - lib/iot/**/*
storage:
  - lib/storage/**/*
blog:
  - lib/blog/**/*
ci:
  - .github/**/*

添加 sentry
  lib/main_dev.dart
  lib/main_prod.dart
  pubspec.lock
  pubspec.yaml
Labels: none

添加用户相关信息
  lib/core/bloc/authentication/authentication_bloc.dart
  lib/routers/delegate.dart
Labels: none

调整程序中的异常处理
  lib/core/bloc/app_preferences/app_preferences_bloc.dart
  lib/core/repository/graphql_api_client.dart
  lib/core/repository/version_repository.dart
Labels: none

直接使用 package_info
  lib/core/bloc/app_preferences/app_preferences_bloc.dart
  lib/core/repository/graphql_api_client.dart
  lib/core/repository/version_repository.dart
  pubspec.lock
  pubspec.yaml
Labels: none

feat: 集成 Sentry (#157)
  lib/core/bloc/app_preferences/app_preferences_bloc.dart
  lib/core/bloc/authentication/authentication_bloc.dart
  lib/core/repository/graphql_api_client.dart
  lib/core/repository/version_repository.dart
  lib/main_dev.dart
  lib/main_prod.dart
  lib/routers/delegate.dart
  pubspec.lock
  pubspec.yaml
Labels: none

fix(board): 修复进入留言板主页报错的问题
  lib/board/graphql/queries/topics.dart
Labels: board

fix(storage): 修复无法访问图片的问题
  lib/storage/graphql/queries/picture.dart
Labels: storage

fix(login): 修复登录界面 RenderFlex overflowed 问题
  lib/core/view/login_page.dart
Labels: none

切换成 Row
  lib/board/view/widgets/add_comment_bar.dart
Labels: board

fix(board): 修复添加评论的文本框无法使用回车换行的问题 (#158)
  lib/board/view/widgets/add_comment_bar.dart
Labels: board

fix(storage): 修复 MyDropdownSearch 的类型问题
  lib/storage/view/consumable_edit_page.dart
  lib/storage/view/item_edit_page.dart
  lib/storage/view/storage_edit_page.dart
  lib/widgets/dropdown_search.dart
Labels: storage

使用 very_good_analysis
  analysis_options.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

调整 AppConfig of 返回值
  lib/app/app_config.dart
  lib/app/main.dart
  lib/core/view/login_page.dart
  lib/routers/delegate.dart
Labels: none

调整留言板 BLoC 的 toString 输出
  lib/board/bloc/board_home/board_home_state.dart
  lib/board/bloc/comment_edit/comment_edit_event.dart
  lib/board/bloc/comment_edit/comment_edit_state.dart
  lib/board/bloc/topic_detail/topic_detail_state.dart
  lib/board/bloc/topic_edit/topic_edit_event.dart
  lib/board/bloc/topic_edit/topic_edit_state.dart
Labels: board

调整核心 BLoC 的 toString 输出
  lib/core/bloc/app_preferences/app_preferences_event.dart
  lib/core/bloc/authentication/authentication_state.dart
  lib/core/bloc/push/push_state.dart
  lib/core/bloc/update/update_state.dart
  lib/core/model/relay.dart
Labels: none

调整用户相关的 toString 输出
  lib/user/model/user.dart
  lib/user/repository/user_repository.dart
Labels: none

调整物联网相关的 toString
  lib/iot/bloc/device_data/device_data_event.dart
  lib/iot/bloc/device_data/device_data_state.dart
  lib/iot/bloc/device_edit/device_edit_event.dart
  lib/iot/bloc/device_edit/device_edit_state.dart
  lib/iot/model/iot.dart
Labels: iot

调整物品管理相关的 toString
  lib/storage/bloc/consumables/consumables_state.dart
  lib/storage/bloc/item_edit/item_edit_event.dart
  lib/storage/bloc/item_edit/item_edit_state.dart
  lib/storage/bloc/picture/picture_state.dart
  lib/storage/bloc/picture_edit/picture_edit_bloc.dart
  lib/storage/bloc/picture_edit/picture_edit_event.dart
  lib/storage/bloc/picture_edit/picture_edit_state.dart
  lib/storage/bloc/recycle_bin/recycle_bin_state.dart
  lib/storage/bloc/storage_detail/storage_detail_state.dart
  lib/storage/bloc/storage_edit/storage_edit_state.dart
  lib/storage/bloc/storage_home/storage_home_state.dart
  lib/storage/view/item_datail_page.dart
  lib/storage/view/picture_add_page.dart
Labels: storage

继续完善
  lib/blog/view/settings/settings_page.dart
  lib/board/bloc/board_home/board_home_state.dart
  lib/board/bloc/comment_edit/comment_edit_state.dart
  lib/board/bloc/topic_detail/topic_detail_bloc.dart
  lib/board/bloc/topic_detail/topic_detail_state.dart
  lib/board/view/topic_edit_page.dart
  lib/storage/bloc/search/search_states.dart
  lib/widgets/error_message_button.dart
Labels: board, storage, blog

修复控制物联网设备报错的问题
  lib/iot/model/iot.dart
  lib/iot/model/iot.g.dart
  lib/iot/view/home_page.dart
Labels: iot

fix(storage): 修复添加删除耗材，修改位置出错的问题
  lib/storage/graphql/mutations/addConsumable.dart
  lib/storage/graphql/mutations/deleteConsumable.dart
  lib/storage/graphql/mutations/updateStorage.dart
Labels: storage

修复无法打开设置页面的问题
  lib/core/view/settings/settings_page.dart
  lib/main_dev.dart
  pubspec.lock
  pubspec.yaml
Labels: none

修复通过网址访问设置页面的问题
  lib/routers/delegate.dart
Labels: none

修复网页版的关于界面无法访问的问题
  lib/core/repository/graphql_api_client.dart
  lib/core/repository/version_repository.dart
  pubspec.lock
  pubspec.yaml
Labels: none

通过网页添加图片时显示提示
  lib/storage/view/item_datail_page.dart
Labels: storage

fix(web): 修复网页版无法正常显示的问题 (#160)
  lib/core/repository/graphql_api_client.dart
  lib/core/repository/version_repository.dart
  lib/core/view/settings/settings_page.dart
  lib/main_dev.dart
  lib/routers/delegate.dart
  lib/storage/view/item_datail_page.dart
  pubspec.lock
  pubspec.yaml
Labels: storage

chore(deps): 删除 package_info
  pubspec.lock
  pubspec.yaml
Labels: none

chore(release): 0.7.4 版本 [skip ci]
  CHANGELOG.md
  pubspec.yaml
Labels: none
